<!DOCTYPE html>
<html>
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link
            href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
            rel="stylesheet"
            id="bootstrap-css"
    />
</head>
<body>

    <form id="studentForm" class="form" action="/getClassLink" method="POST">
        <div>
            <% if (typeof message !== 'undefined' && message.length > 0) { %>
                <p class="alert alert-primary" alerts="alert">
                    <%= message %>
                </p>
            <% } %>
        </div>
        <% if (typeof classObj === "undefined" || typeof classObj == 'object' && Object.keys(classObj).length === 0) {%>
            <h1>Look up your class link with by entering your class id :</h1>

            <p>Enter class id for the classes you have registered in: <p>
            <div class="form-group">
                <label for="classId" class="text-info">Class Id:</label><br />
                <input type="classId" name="classId" id="classId" class="form-control" >
            </div>
            <div class="form-group">
                <input type="submit" name="submit" class="btn btn-info btn-md" value="Show Class Link"/>
            </div>

<!--            <p>Or, enter your email and we will find the classes in which you are registered: <p>-->
<!--            <div class="form-group">-->
<!--                <label for="email" class="text-info">Email:</label><br />-->
<!--                <input type="email" name="email" id="email" class="form-control" required>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <input type="submit" name="submit" class="btn btn-info btn-md" value="Show Class Link"/>-->
<!--            </div>-->
        <%}else {%>
            <h1>Here are all your registered classes:</h1>
            <div>
                <ul>
                    <% for (var i = 0; i < classObj.length ; i++){ %>
                        <li class="class-list"><a target="_blank" href=<%= path+classObj[i].id%>?classId=<%= classObj[i].classes_id%>>Go to Emoji Sharing app for
                                class link id: <%= classObj[i].id %>, class id: <%=classObj[i].classes_id%> <%=classObj[i].class_name%> on <%=classObj[i].datetime%> </a>
                        </li>
                    <% }%>
                </ul>

            </div>
        <%}%>
    </form>

</body>
</html>
