<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Play</title>
    <meta http-equiv="Refresh" content="300">

    <script type="text/javascript">
        setTimeout(function(){
            $("#topScroll").fadeOut();
        }, 4000)
        </script>

</head>
<body>

    <div>
        <% if ( typeof dateStringParams === 'undefined') {%>
        <form action="/history?classLinkId=<%=classLinkId%>" method="POST">
            <input type="submit" value="History" />
        </form>
        <%}else if (typeof dateStringParams !== 'undefined') {%>
        <form action="/history/<%=classLinkId%>/<%=dateStringParams%>" method="POST">
            <input type="submit" value="History" />
        </form>
        <%}%>
    <h2 class="text-center text-info">Emoji Sharing!</h2>
    <form class="form-group" action="/sendEmoji?classLinkId=<%=classLinkId%>?classId=<%=classId%>" method="post">
        <input type="hidden" name="classLinkId" value="<%=classLinkId%>" />
        <input type="hidden" name="classId" value="<%=classId%>" />

        <div class="anonymous-label mx-auto d-flex ">
            <label   class="switch">
                <input type="checkbox" name="isAnonymous">
                <span class="slider round"></span>
            </label>
            <label class="switchLabel ">
                Anonymous user
            </label>
        </div>

        <div class="table table-responsive ">
            <table class="table-container table-bordered ">

                <tbody>
<!--                    <input type="hidden" id='classLinkId'  name="classLinkId" value = "">-->
                    <input type="hidden" id='userId'  name="userId" value = "<%= userId %>">

                    <tr>
                        <td class="first">
                            <input class="hello"  type="text" name="image" value="&#x1f601;" readonly />
                        </td>
                        <td >
                            <div class="radio">
                                <input type="radio" id='regular'  name="optradio" value = "1">
                            </div>
                        </td > 
                        <td >
                            <input style="border: 0" type="text" size="35" name="caption" value="I completely understand!" readonly /> </td>
                        </td>

                    </tr>

                    <tr>
                        <td class="first">
                            <input class="hello"   type="text" name="image" value="&#128578;" readonly />
                        </td>
                        <td >
                            <div class="radio">
                                <input type="radio" id='regular'  name="optradio" value = "2"> 
                            </div>
                        </td >
                        <td >
                            <input style="border: 0" type="text" size="35" name="caption" value="I think I’m getting it" readonly /> </td>
                        </td>

                    </tr>

                    <tr>
                        <td class="first">
                            <input class="hello"  type="text" name="image" value="&#128528;" readonly />
                        </td>
                        <td >
                            <input type="radio" id='regular'  name="optradio" value = "3" checked="checked">
                        </td >
                        <td ><input style="border: 0" size="35" type="text" name="caption" value="Neutral" readonly />
                            <div id="topScroll" style="color:chocolate; font-weight: bold;">
                                <a>Selected Emoji set to Neutral every 5 minutes!</a>
                            </div> 
                        </td>
    
                    </tr>

                    <tr>
                        <td class="first">
                            <input class="hello"  type="text" name="image" value="&#129300;"  readonly />
                        </td>
                        <td >
                            <input type="radio" id='regular'  name="optradio" value = "4">
                        </td >
                        <td ><input style="border: 0" size="35" type="text" name="caption" value="I think I'm lost!" readonly /> </td>
                    </td>
                    </tr>

                    <tr>
                        <td  >
                            <input class="hello"  type="text" name="image" value="&#128534;" readonly />
                        </td>
                        <td >
                            <input type="radio" id='regular'  name="optradio" value = "5">
                        </td  >
                        <td ><input style="border: 0" size="45" type="text" name="caption" value="I completely don’t understand what’s going on!" readonly /> </td>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div>
            <form method="POST" action="/sendEmoji?classLinkId=<%=classLinkId%>?classId=<%=classId%>" class="form-group">
<!--                <input type="hidden" name="classLinkId" value="<%=classLinkId%>" />-->
<!--                <input type="hidden" name="classId" value="<%=classId%>" />-->
                <input type="text" id="freeText" name="freeText" class="button_next" placeholder="type text here ...">
                <input type="submit" name="submit" class="button_next" value="Submit">
            </form>
        </div>

        <div>
            <div>To logout click here<a href="/logout">Logout.</a></div>
        </div>
    </form>
</div>

</body>
</html>
