<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Play</title>

    <script type="text/javascript">
        setInterval(function() {
            //select the 2nd form which is emoji submit
            document.forms[1].submit();
        }, 60000);//every 1 minute value = 1 * 60 * 1000 = 60000
    </script>
    <script type="text/javascript">
        setInterval(function() {
            $("#emoji3").attr('checked','checked');
            $("#topScroll").fadeOut();
        }, 300000);//every 5 minute value reset 5 * 60 * 1000 = 300000
    </script>

</head>
<body>

    <div class="mt-1 ml-1">
        <% if ( typeof dateStringParams === 'undefined') {%>
        <form id="historySubmit" action="/history?classLinkId=<%=classLinkId%>" method="POST">
            <input  type="submit" value="History" />
            <input type="hidden" name="classId" value="<%=classId%>" />
            <input type="hidden" name="userid" value="<%=userId%>" />
            <input type="hidden" name="emojiSelected" value="<%=emojiSelected%>" />
            <input type="hidden" name="userObj" value="<%=userObj%>" />
            <input type="hidden" name="isAnonymousStatus" value="<%=isAnonymousStatus%>" />


        </form>
        <%}else if (typeof dateStringParams !== 'undefined') {%>
        <form id="historySubmit" action="/history/<%=classLinkId%>/<%=dateStringParams%>" method="POST">
            <input type="submit" value="History" />
            <input type="hidden" name="classId" value="<%=classId%>" />
            <input type="hidden" name="userid" value="<%=userId%>" />
            <input type="hidden" name="emojiSelected" value="<%=emojiSelected%>" />
            <input type="hidden" name="userObj" value="<%=userObj%>" />
            <input type="hidden" name="isAnonymousStatus" value="<%=isAnonymousStatus%>" />
        </form>
        <%}%>
    </div>
    <div>
        <h2 class="text-center text-info mt-4">Welcome to Emoji Sharing <%= userObj.full_name%> for <%= userObj.class_name%></h2>
        <p class="text-center mb-1 text-info">Class times <%=userObj.datetime%>.</p>
        <p class="text-center text-info">Class id number is <%= userObj.classes_id%>.</p>
    </div>
    <div>

        <form class="form-group" id="emojiSubmit" action="/sendEmoji?classLinkId=<%=classLinkId%>?classId=<%=classId%>" method="post">
            <input type="hidden" name="classLinkId" value="<%=classLinkId%>" />
            <input type="hidden" name="classId" value="<%=classId%>" />

            <div class="anonymous-label mx-auto d-flex ">
                <label class="switch">
                    <input type="checkbox" name="isAnonymous"
                            <%= isAnonymousStatus ? 'checked' : '' %>
                    >
                    <span class="slider round"></span>
                </label>
                <label class="switchLabel ">
                    Anonymous user
                </label>
            </div>

            <div class="table table-responsive ">
                <table class="table-container table-bordered ">

                    <tbody>
                        <input type="hidden" id='userId'  name="userId" value = "<%= userId %>">

                        <tr>
                            <td class="first">
                                <input class="hello"  type="text" name="image" value="&#x1f601;" readonly />
                            </td>
                            <td >
                                <div class="radio">
                                    <input type="radio" id='emoji1'  name="optradio" value = "1"
                                            <%= emojiSelected === '1' ? 'checked' : '' %>
                                    >
                                </div>
                            </td >
                            <td >
                                <input style="border: 0" type="text" size="35" name="caption" value="I completely understand!" readonly /> </td>
                            </td>

                        </tr>

                        <tr>
                            <td class="first">
                                <input class="hello"   type="text" name="image" value="&#128578;" readonly />
                            </td>
                            <td >
                                <div class="radio">
                                    <input type="radio" id='emoji2'  name="optradio" value = "2"
                                            <%= emojiSelected === '2' ? 'checked' : '' %>
                                    >
                                </div>
                            </td >
                            <td >
                                <input style="border: 0" type="text" size="35" name="caption" value="I think I’m getting it" readonly /> </td>
                            </td>

                        </tr>

                        <tr>
                            <td class="first">
                                <input class="hello"  type="text" name="image" value="&#128528;" readonly />
                            </td>
                            <td >
                                <input type="radio" id='emoji3'  name="optradio" value = "3"
                                        <%= emojiSelected === '3'  ? 'checked' : '' %>
                                >
                            </td >
                            <td ><input style="border: 0" size="35" type="text" name="caption" value="Neutral" readonly />
                                <div id="topScroll" style="color:chocolate; font-weight: bold;">
                                    <a>Selected Emoji set to Neutral every 5 minutes!</a>
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <td class="first">
                                <input class="hello"  type="text" name="image" value="&#129300;"  readonly />
                            </td>
                            <td >
                                <input type="radio" id='emoji4'  name="optradio" value = "4"
                                        <%= emojiSelected === '4' ? 'checked' : '' %>
                                >
                            </td >
                            <td ><input style="border: 0" size="35" type="text" name="caption" value="I think I'm lost!" readonly /> </td>
                        </td>
                        </tr>

                        <tr>
                            <td  >
                                <input class="hello"  type="text" name="image" value="&#128534;" readonly />
                            </td>
                            <td >
                                <input type="radio" id='emoji5'  name="optradio" value = "5"
                                        <%= emojiSelected === '5' ? 'checked' : '' %>
                                >
                            </td  >
                            <td ><input style="border: 0" size="45" type="text" name="caption" value="I completely don’t understand what’s going on!" readonly /> </td>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div>
                <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
                    <ul class="alert alert-primary" role="alert">
                        <% for (var i = 0 ; i < errors.length ; i++){ %>
                            <li> <%= errors[i].msg %>
                            </li>
                        <% }%>
                    </ul>
                <% } %>
            </div>
            <div>
                <% if (typeof alerts !== 'undefined' && alerts.length > 0) { %>
                    <p class="alert alert-primary" alerts="alert">
                        <%= alerts %>
                    </p>
                <% } %>
            </div>
            <input type="text" id="freeText" name="freeText" class="button_next" placeholder="type text here ...">
            <input type="submit" name="emojiSubmit" class="button_next" value="Submit">
        </form>
        <form class="ml-1" id="logout" action="/logout?classLinkId=<%=classLinkId%>&classId=<%=classId%>" method="POST">
            <input  type="submit" name="logout" value="Logout" />
                            <input type="hidden" name="classLinkId" value="<%=classLinkId%>" />
                            <input type="hidden" name="classId" value="<%=classId%>" />

        </form>
    </div>
</body>
</html>
