<!DOCTYPE html>
<html>
  <head>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/styles.css">

  </head>
  <body>

    <div>
      <% if (typeof classDetails === "undefined" || typeof classDetails == 'object' && Object.keys(classDetails).length === 0) {%>
        <h2 class="text-center text-info mt-2">Welcome to the Emotion Thermometer homepage.</h2>
    <%}else {%>
          <h2 class="text-center text-info mt-2">Welcome to the Emotion Thermometer homepage.</h2>
          <h2 class="text-center text-info mt-2"><%=classDetails.class_name%> By Professor <%=classDetails.full_name%></h2>
          <p class="text-center text-info mt-2">on <%=classDetails.datetime%> </p>

      <%}%>
    </div>


    <div>
      <img src="images/emojiSmile2.png" width="400" height=auto
           class="center" />
    </div>
    <div  class="center-buttons">
      <form method="GET" action="/register?classLinkId=<%=classLinkId%>?classId=<%=classId%>" class="inner-button">
        <input type="hidden" name="classLinkId" value="<%=classLinkId%>" />
        <input type="hidden" name="classId" value="<%=classId%>" />
        <input type="submit" name="submit" class="button_register" value="Register" />
      </form>
      <form method="GET" action="/login" class="inner-button">
        <input type="hidden" name="classLinkId" value="<%=classLinkId%>" />
        <input type="hidden" name="classId" value="<%=classId%>" />
        <input type="submit" name="submit" class="button_login" value="Login" />
      </form>
    </div>
    <div>
      <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
        <ul class="alert alert-danger" role="alert">
          <% for (var i = 0 ; i < errors.length ; i++){ %>
            <li> <%= errors[i].msg %>
            </li>
          <% }%>
        </ul>
      <% } %>
    </div>
  </body>
</html>
