<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="/styles.css">
<link
        href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        rel="stylesheet"
        id="bootstrap-css"
/>
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <a class="navbar-brand" href="#">Navbar</a>-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
<!--  <div class="collapse navbar-collapse" id="navbarNav">-->
<!--    <ul class="navbar-nav">-->
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Features</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Pricing</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link disabled" href="#">Disabled</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
</nav>
<nav class="navbar sticky-top navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
   <% if (classes.length !== 'undefined' ) {%>
    <p>Here are all your registered classes: <p>
    <%}else {%>
    <%}%>
  <div>
    <ul>
      <% for (var i = 0; i < classes.length ; i++){ %>
        <li class="class-list"><a target="_blank" href=<%= path+classes[i].id%>?classId=<%= classes[i].classes_id%>>Go to Emoji Sharing app for
              class link id: <%= classes[i].id %>, class id: <%=classes[i].classes_id%> <%=classNames[i][0].class_name%> on <%=classNames[i][0].datetime%> </a>
        </li>
      <% }%>
    </ul>

  </div>
</nav>
<br />
<h2 class="text-center text-info">
  <div> Welcome to the Emotion Thermometer</div>
  <div>Instructor Account</div></h2>
<br />

<!--<img src="https://drive.google.com/uc?export=view&id=1JCDjM9o35j3VVmcRbaetel_8KylMK7nz" width="450" height="350"-->
<!--     class="row justify-content-center" />-->
<div class="row justify-content-center align-items-center">
  <div id="instructorForm-column" class="col-md-6">
    <div id="instructorForm-box" class="col-md-12">
      <form id="instructorForm" class="form" action="/instructor" method="POST">
        <h3 class="text-center text-info">Welcome Professor <%=newInstructor%></h3>

<!--        create class-->
        <div class="form-group">
          <h5 class="text-info">Create a new class: </h5>

          <label for="className" class="text-info">Class Name:</label><br />
          <input
                  type="text"
                  name="className"
                  id="className"
                  class="form-control"
                  required>
        </div>
        <div class="form-group">
          <label for="selectDay" class="text-info">Select the Semester:</label
          ><br />
          <select name="year" class="right"  required>
            <option value="Spring selected">Spring</option>
            <option value="Summer">Summer</option>
            <option value="Fall">Fall</option>

          </select>
        </div>
        <div class="form-group">
          <label for="selectDay" class="text-info">Select the year:</label
          ><br />
          <select name="year" class="right"  required>
            <option value="2021 selected">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024" >2024</option>
            <option value="2025">2025</option>
          </select>
        </div>
        <div class="form-group">
          <label for="selectDay" class="text-info">Select the day:</label
          ><br />
          <select name="weekday" class="right" multiple required>
            <option value="Monday" selected>Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday" >Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
          </select>
        </div>
        <div class="form-group">
          <label for="classTime" class="text-info">Class Start Time:</label
          ><br />
          <input
                  type="time"
                  name="startTime"
                  id="startTime"
                  class="form-control"
                  required>
        </div>
        <div class="form-group">
          <label for="classTime" class="text-info">Class End Time:</label
          ><br />
          <input
                  type="time"
                  name="endTime"
                  id="endTime"
                  class="form-control"
                  required>
        </div>
        <div class="form-group">
          <label for="password" class="text-info">Class password:</label><br />
          <input
                  type="password"
                  name="password"
                  id="password"
                  class="form-control"
                  required>
        </div>
        <div class="form-group">
          <input
                  type="submit"
                  name="submit"
                  class="btn btn-info btn-md"
                  value="Generate Link"
          />
        </div>


        <button
                type="submit"
                name="submit"
                class="btn btn-info btn-md"
                value="Submit"
        >Register</button>

        <div>To login with a different account, you can <a href="/instructorLogin">Log in.</a></div>
        <div>To login with a new account, you can <a href="/instructorRegister">Register.</a></div>

        <div>To login with a new account, you can <a href="/instructorLogout">Logout.</a></div>

      </form>
    </div>
  </div>

</div>
