<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div id="login">
    <h3 class="text-center text-white pt-5">Login form</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="/login?classLinkId=<%=classLinkId%>?classId=<%=classId%>" method="POST">
                        <h3 class="text-center text-info">Login</h3>
                        <div class="form-group">
                            <label for="email" class="text-info">Email:</label><br>
                                <input type="hidden" name="classId" id="classId"  >
                            <input type="email" name="email" id="email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="password" name="password" id="password" class="form-control" required>
                        </div>

                        <div><input type="password" name="instructorPassword" id="instructorPassword"
                                style="display:none" placeholder="Enter class password"></div>
                        <br>

                        <div class="form-group">
                            <input type="hidden" name="classLinkId" value="<%=classLinkId%>" />
                            <input type="hidden" name="classId" value="<%=classId%>" />
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="Submit">
                        </div>
                        <div>
                            <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
                                <ul class="alert alert-primary" role="alert">
                                    <% for (var i = 0 ; i < errors.length ; i++){ %>
                                        <li> <%= errors[i].msg %>
                                        </li>
                                    <% }%>
                                </ul>
                            <% } %>
                        </div>
                        <div id="register-link" class="text-right">
                            <a href="/register?classLinkId=<%=classLinkId%>?classId=<%=classId%>" class="text-info">Register here</a>
                        </div>
                        <div id="class-lookup-link" class="text-right">
                            <a href="/getClassLink" class="text-info">Look up your class link here</a>
                        </div>
                        <div>
                            Forgot password? <a href="/forget-password">Reset a new password here.</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
