<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script>
  function checkForm(form) {
    if (
      form.password.value != "" &&
      form.password.value == form.passwordMatch.value
    ) {
      return true;
    } else {
      alert(
        "Error: Please check that you've entered and confirmed your passwords match!"
      );
      form.password.focus();
      return false;
    }
  }
</script>

<div id="register">
    
  <h3 class="text-center text-white pt-5">Registration form</h3>

  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">

          <h3 class="text-center text-info">Register</h3>
          <% if (typeof classId !== 'undefined' && classId.length > 0) { %>
          <div class="text-info mt-4"  >Already a registered student for another class?
            <form class="form-inline" action="/signUp?classLinkId=<%=classLinkId%>?classId=<%=classId%>" method="POST">
              <div class="form-group ">
                <label class="text-info"> Enter your email here to add this class: </label>
                <input type="email" class="form-control" name="email" />
                <input type="hidden" name="classLinkId" value="<%=classLinkId%>" />
                <input type="hidden" name="classId" value="<%=classId%>" />
                <input
                        type="submit"
                        name="submit"
                        class="btn btn-info btn-md ml-1"
                        value="Add"
                />
              </div>
            </form>
          </div>
          <% } %>
          <div class="text-info mt-4">
            <h4>Not yet a registered student for any class? </h4>
            <p>Please fill this form below.</p>
          </div>
            <form
            id="login-form"
            class="form"
            action="/register?classLinkId=<%=classLinkId%>?classId=<%=classId%>"
            method="post"
            onsubmit="return checkForm(this);"
          >

            <div>
              <% if (typeof alerts !== 'undefined' && alerts.length > 0) { %>
                <p class="alert alert-primary" alerts="alert">
                  <%= alerts %>
                </p>
              <% } %>
            </div>
            <div class="form-group mt-1">
              <label for="username" class="text-info">Full Name:</label><br />
              <input
                type="text"
                name="username"
                id="username"
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <label for="email" class="text-info">Email:</label><br />
              <input
                type="email"
                name="email"
                id="email"
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <label for="password" class="text-info">Password:</label><br />
              <input
                pattern=".{6,18}"
                title="Should be between 6 and 18 characters!"
                type="password"
                name="password"
                id="password"
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <label for="passwordMatch" class="text-info"
                >Confirm Password:</label
              ><br />
              <input
                type="password"
                name="passwordMatch"
                id="passwordMatch"
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <input type="hidden" name="classLinkId" value="<%=classLinkId%>" />
              <input type="hidden" name="classId" value="<%=classId%>" />
              <input
                type="submit"
                name="submit"
                class="btn btn-info btn-md"
                value="Submit"
              />
            </div>
            <div>
              <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
                <ul class="alert alert-primary" role="alert">
                  <% for (var i = 0 ; i < errors.length ; i++){ %>
                    <li> <%= errors[i].msg %>
                    </li>
                  <% }%>
                </ul>
              <% } %>
            </div>
            <div id="login-link" class="text-right">
                <a href="/login?classLinkId=<%= classLinkId%>?classId=<%=classId%>" class="text-info">Login</a>
            </div>
            <div id="class-lookup-link" class="text-right">
              <a href="/getClassLink" class="text-info">Look up your class link here</a>
            </div>
            <div>
              Forgot password? <a href="/forget-password">Reset a new password here.</a>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
